<footer class="w-[80%] h-50 m-auto bg-gray-100 shadow-2xl">
  <div class="flex items-center justify-between p-4">
    <img class="h-20" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy539p9OcaiMxj1MAMGqWPH0xSaim0maWBFw&s" alt="orange">
    <ul class="flex justify-between w-[20%] mr-20">
      <li routerLinkActive="bg-blue-300"><a class="hover:bg-blue-300 py-4 px-10 rounded-md" [routerLink]="['']">Home</a></li>
      <li routerLinkActive="bg-blue-300"><a class="hover:bg-blue-300 py-4 px-10 rounded-md" [routerLink]="['/register']">Register</a></li>
      <li routerLinkActive="bg-blue-300"><a class="hover:bg-blue-300 py-4 px-10 rounded-md" [routerLink]="['/login']">Login</a></li>
    </ul>
  </div>
  <div class="flex justify-center items-center">
    <p class="text-gray-500 text-sm">© 2023 Your Company. All rights reserved.</p>
  </div>
</footer>
